// * reset *,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  //   height: 100%;
  font-size: 62.5%;
  // height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  // height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
// ////////////////////////////////////////

@font-face {
  font-family: gobold;
  src: url(/fonts/goboldregular.otf) format('opentype');
}

$primary: #cf5e31;
$primary-light: #ffa768;
$primary-dark: #752e1c;
$secondary: #224e69;
$secondary-light: #5f7f93;
$secondary-dark: #233d4d;
$grey-dark: #5a5a5a;
$grey-light: #838383;
$white: #fff;

@mixin title {
  text-align: center;
  margin: 10vh 0;
  font-family: 'gobold';
  font-size: 3rem;
  color: $white;
  text-shadow: 0px 39px 16px rgba(238, 130, 59, 0.03),
    0px 22px 13px rgba(238, 130, 59, 0.1),
    0px 10px 10px rgba(238, 130, 59, 0.17), 0px 2px 5px rgba(238, 130, 59, 0.2),
    0px 0px 0px rgba(238, 130, 59, 0.2);
}

// ////////////////////////////////////////
body {
  background: linear-gradient(135deg, #fec163 0%, #de4313 100%);

  font-family: 'Poppins', sans-serif;
}

.laba1 {
  position: absolute;
}

.bg {
  display: flex;
  justify-content: center;
}

.wrapper {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  max-width: 1920px;
  padding: 2rem 5rem;
  margin: 3rem 0 0 0;
  position: relative;
  z-index: 10;
}

.nav {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'logo links contact';
  font-size: 2rem;
  align-items: center;

  &__logo {
    grid-area: logo;
    width: 20%;
    justify-self: start;
  }

  &__container {
    background-color: $white;
    box-shadow: 0px 129px 51px rgba(0, 0, 0, 0.01),
      0px 72px 43px rgba(0, 0, 0, 0.05), 0px 32px 32px rgba(0, 0, 0, 0.09),
      0px 8px 18px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    width: fit-content;
    height: max-content;
    grid-area: links;
    justify-self: center;

    &--link {
      font-weight: 800;
      color: $grey-dark;

      &__active {
        color: $grey-light;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:first-child {
        margin-right: 3rem;
      }
    }
  }

  &__btn {
    grid-area: contact;
    outline: 0.5rem solid $primary;
    filter: drop-shadow(84px 37px 37px rgba(0, 0, 0, 0.01))
      drop-shadow(47px 21px 31px rgba(0, 0, 0, 0.05))
      drop-shadow(21px 9px 23px rgba(0, 0, 0, 0.09))
      drop-shadow(5px 2px 13px rgba(0, 0, 0, 0.1))
      drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    border-radius: 5rem;
    padding: 1rem 3rem;
    width: fit-content;
    height: max-content;
    font-size: 2rem;
    color: $primary;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0);
    outline-offset: -0.5rem;
    justify-self: end;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $primary;
      color: $white;
    }

    &:active {
      background-color: $primary-dark;
      outline: 0.5rem solid $primary-dark;
    }
  }
}

.heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  gap: 0px 0px;
  grid-template-areas:
    'txt img'
    'numbs numbs';
  align-items: center;
  justify-items: center;
  // height: 100vh;

  &__text {
    grid-area: txt;
    line-height: 1.1;
    max-width: 100rem;
    align-self: center;
    margin-top: 7vh;

    &--title {
      font-family: 'gobold', sans-serif;

      & > h1 {
        font-size: clamp(5rem, calc(6rem + 4vw), 12rem);
        color: $secondary-dark;
      }

      & > h2 {
        margin-left: 20rem;
        font-size: clamp(3rem, calc(3rem + 4vw), 8rem);
        color: $secondary-light;
      }
    }

    & p {
      font-size: clamp(0.5rem, calc(0.5rem + 1.5vw), 2rem);
      font-weight: 600;
      line-height: 1.5;
      color: $grey-dark;
      margin: 5vh 0;
    }

    &--btn {
      grid-area: contact;
      background: $primary;
      box-shadow: 84px 37px 37px rgba(0, 0, 0, 0.01),
        47px 21px 31px rgba(0, 0, 0, 0.05), 21px 9px 23px rgba(0, 0, 0, 0.09),
        5px 2px 13px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
      border-radius: 50px;
      border: none;
      color: $white;
      padding: 1.7rem 3rem;
      width: fit-content;
      font-size: 2rem;
      font-weight: 800;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        background-color: $primary;
        color: $white;
      }

      &:active {
        background-color: $primary-dark;
        outline: 0.5rem solid $primary-dark;
      }
    }
    & > .hero {
      grid-area: img;
    }
  }
}

.hero {
  height: 100%;

  & .dr {
    height: 55rem;
    position: relative;
  }

  &__img {
    position: relative;
    &--vector1 {
      position: absolute;
      bottom: 10rem;
      transform: scale(2.2);
    }
    &--vector2 {
      position: absolute;
      bottom: 10rem;
      right: -7rem;
      transform: scale(2);
    }
    &--nume {
      padding: 1rem 4.2rem;
      width: fit-content;
      background: #e0e0e0;
      box-shadow: 0px 47px 19px rgba(0, 0, 0, 0.01),
        0px 27px 16px rgba(0, 0, 0, 0.05), 0px 12px 12px rgba(0, 0, 0, 0.09),
        0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
      border-radius: 50px 5px;
      font-size: 2.4rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      position: absolute;
      bottom: -5rem;
      right: -3rem;
      &__pref {
        margin-right: 2rem;
        font-weight: 800;
        font-size: 3.2rem;
        color: $secondary-light;
        text-shadow: 18px 16px 10px rgba(0, 0, 0, 0.01),
          10px 9px 8px rgba(0, 0, 0, 0.05), 5px 4px 6px rgba(0, 0, 0, 0.09),
          1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
      }

      &__txt {
        display: flex;
        flex-direction: column;
        line-height: 1.1;
        color: $secondary;
      }
    }
  }
}

.stats {
  grid-area: numbs;
  display: flex;
  flex-direction: row;
  margin: 10vh 0 0;
  gap: 5rem;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &--num {
      font-size: 4rem;
      font-weight: 800;
      color: $primary;
    }
    &--tag {
      text-align: center;
      font-size: 1.5rem;
      color: $grey-dark;
      width: 80%;
    }
  }
}

.line {
  width: 0.4rem;
  height: 10rem;
  background-color: #f99d5a;
}

.services {
  &__title {
    @include title;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(5rem, 5vw, 10rem);
    // max-width: 1540px;

    &--card {
      width: 40rem;
      height: 15rem;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      border-radius: 2rem;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      position: relative;
      &__title {
        font-size: 2rem;
        font-weight: 800;
        color: $secondary;
        margin-bottom: 1rem;
      }
      &__para {
        margin-top: 1rem;
        font-size: 1.5rem;
        color: $secondary;
        line-height: 1.3;
        max-width: 28rem;
      }
      &__icon {
        height: 25rem;
        position: absolute;
        right: -1rem;
        bottom: -6rem;
      }
    }
  }
}

.products {
  &__title {
    @include title;
  }
}
